<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>细粒度访问控制系统介绍</title>
    <link rel="stylesheet" href="../collected_static/word.css"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .div {margin: 0 auto; width: 440px; height: 120px; border: 1px; top: 30%}
    </style>
</head>
<body>
<!--
<div class="container-fluid" id="LG">
    <div class="row-fluid">
            <h1>细粒度访问控制系统</h1>
            <div class="hero-unit div">
                细粒度访问控制系统是专门处理云存储中媒资文件的访问控制设备。
                在功能方面，突破云环境下票据的快速签发与验证协议及基于标记
                的细粒度访问控制方法，研发基于票据的多粒度访问控制系统，建
                立融合传播云平台统一访问控制中心，使融合传播云平台具有对主
                、客体权限进行统一授权决策与管理的能力，防止用户对云存储中
                不同安全等级媒资文件的非法访问。同时建立对媒资文件的元数分
                类分级管理，使云平台管理员方便管控云存储中的资源。
                </div>
        </div>
</div>
-->
<div class="entry">
	<h1>细粒度访问控制系统</h1>
	<p>细粒度访问控制系统是专门处理云存储中媒资文件的访问控制设备。</p>
	<p>在功能方面，突破云环境下票据的快速签发与验证协议及基于标记的细粒度访问控制方法，研发基于票据的多粒度访问控制系统，建立融合传播云平台统一访问控制中心，使融合传播云平台具有对主、客体权限进行统一授权决策与管理的能力，防止用户对云存储中不同安全等级媒资文件的非法访问。同时建立对媒资文件的元数分类分级管理，使云平台管理员方便管控云存储中的资源。</p>
	<p>—— <small>中国科学院信息工程研究所</small></p>
</div>
</body>
</html>
